<!DOCTYPE html>
<html>
  <head>
    <title>Blocitoff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container message'>
      <% if notice %>
        <div id='notice'>
          
          <%= notice %>
        </div>
      <% elsif alert %>
        <div id='alert'>
          <h3><%= alert %></h3>
        </div>
      <% end %>
    </div>
    <header class='container'>
      <%= link_to "Blocitoff", root_path, id: 'logo' %>
      <nav>
        <ul class='nav navbar-nav navbar-right'>
          <li><%= link_to "Home", root_path %></li>
          <% if current_user %>
            <li><%= link_to  gravatar_image_tag( current_user.email, :alt =>  current_user.email, class: 'application_user_gravatar', gravatar: { secure: true } ), users_show_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class='container body_content'>
      <%= yield %>
    </div>
  </body>
</html>
